body {
  background-color: white;
  font-family: 'Lato';
  font-weight: 600;
}

/** Title Headings **/
h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}


/** Section Headings **/
h2 {
  font-size: 24px;
  color: rgb(41, 160, 158);
  font-weight: 900;
}

p {
  font-size: 20px;
}

footer {
  font-family: 'Lato';
  color: black;
  font-weight: bold;
  background-color: black;
}

.copyright {
  background-color: lightgrey;
}

.text-field {
  float: left;
  width: 48%;
  margin: 1%;

}

#apply-button {
  padding: 10px;
  text-align: center;
}

.inner {
  margin: auto;
}

#section-1 {
  height: 90%;
  padding: 100px;
  background: linear-gradient(to top right, rgb(41, 160, 158), rgb(221, 238, 255));
}


#section-2 {
  background-color: white;
  padding: 30px 60px;
  height: 60%;
}

#section-3 {
  background: linear-gradient(to top right, rgb(41, 160, 158), rgb(221, 238, 255));
  height: 50%;
}

#section-4 {
  background-color: lightgrey;
  height: 60%;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.underline {
  border-bottom: 1px solid currentColor;
}

.underline:hover {
  color: blue;
}

.location {
  font-size: 32px;
  color: royalblue;
  height: 10px;
}

.description {
  font-size: 24px;
  color: darkgreen;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
 }

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover{
   background-color: #ddd;
}

.tab button.active{
   background-color: #ccc;
}

.tabcontent{
   display: none;
   padding: 6px 12 px;
   border: 1px solid #ccc;
   border-top: none;
}

/**Social Media**/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: royalblue;
  color: white;
}

.fa-instagram {
  background: purple;
  color: white;
}

.fa-envelope {
  background: #cb2027;
  color: white;
}
.fa-medium {
  background: #009000;
  color: white;
}

#section-5 {
  height: 100%;
  background-color: pink;
}

.wrapper {
  padding: 30px 60px;
}

.center-wrapper {
  text-align: center;
  padding: 30px 60px;
}


input[type=text], textarea {
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#name, #email {
    display: inline-block;
    width: 49.86%;
}
#message {
  width: 100%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(41, 160, 158);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.outer-div
{
  padding: 60px;
  background-color: #f3f3f3;
}
.inner-div
{
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
