body {
    background-color: white;
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}


/** Section Headings **/
h2 {
    font-size: 24px;
    color: rgb(41, 160, 158);
}

footer {
    padding: 20px 20px 30px 20px;
    font-family: 'Lato';
    color: black;
    text-align: center;
}

.text-field {
  float: left;
  width: 48%;
  margin: 1%;
}

#apply-button {
  padding: 10px;
  text-align: center;
}

#title {
  margin: auto;
  width: 500px;
  height: 110px;
  text-align: center;
  color: white;
  font-size: 60px;
  padding: 10px;
  font-weight:bold;
}

#logo {
  text-align: center;
  padding: 10px;
}

.btn {
  padding: 10px;
}

#section-1 {
  height: 90%;
  padding: 40px;
  font-family: "Lato";
  background: linear-gradient(to top right, rgb(41, 160, 158), rgb(221, 238, 255));
}


#section-2 {
    background-color: white;
    padding: 30px 60px;
    height: 60%;
}

#section-3 {
    background-color: lightsteelblue;
    text-align: center;
    padding: 30px 60px;
    height: 35%;
    color: black;
}

#section-4 {
    background-color: lightgrey;
    text-align: center;
    padding: 30px 60px;
    height: 60%;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.underline {
    border-bottom: 1px solid currentColor;
}

.underline:hover {
    color: blue;
}

.location {
    font-size: 32px;
    color: royalblue;
    height: 10px;
}

.description {
    font-size: 24px;
    color: darkgreen;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
 }

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover{
   background-color: #ddd;
}

.tab button.active{
   background-color: #ccc;
}

.tabcontent{
   display: none;
   padding: 6px 12 px; 
   border: 1px solid #ccc;
   border-top: none;
}

/**Social Media**/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: royalblue;
    color: white;
}

.fa-instagram {
    background: purple;
    color: white;
}

.fa-envelope {
    background: #cb2027;
    color: white;
}
.fa-medium {
    background: #009000;
    color: white;
}
